
@font-face {
 font-family: roboto-m;
 src: url(/fonts/Roboto-Medium.ttf);
}
@font-face {
 font-family: roboto-r;
 src: url(/fonts/Roboto-Regular.ttf);
}
@font-face {
 font-family: raleway-b;
 src: url(/fonts/Raleway-Bold.ttf);
}
@font-face {
 font-family: raleway-r;
 src: url(/fonts/Raleway-Regular.ttf);
}

body {
 box-sizing: border-box;
 font-family: raleway-b, sans-serif;
 color: #393939;
 background: #fff;
}

.main {
 background: url(/img/main-bg-drone.png) no-repeat;
 background-position: 10% 45%;
 padding-bottom: 240px;
 z-index: -5;
}

.main-bg-circle {
 width: 980px;
 height: 980px;
 background: #fff;
 border-radius: 50%;
 position: absolute;
 margin-top: -650px;
 margin-left: -330px;
 z-index: 0;
 box-shadow: 1.2px 0.08px 15.8px 0px rgba(158, 158, 158, 0.04), 5.2px 0.3px 32.7px 0px rgba(158, 158, 158, 0.06), 12.9px 0.9px 65.3px 0px rgba(158, 158, 158, 0.08), 24.9px 1.75px 128px 0px rgba(158, 158, 158, 0.10), 42px 2.9px 235.4px 0px rgba(158, 158, 158, 0.12), 64.8px 4.5px 402px 0px rgba(158, 158, 158, 0.16);
}
.main-bg-rectangle {
 background: #fff;
 width: 500px;
 height: 760px;
 position: absolute;
 margin-left: -500px;
 margin-top: -520px;
}
.header {
 z-index: 1;
 padding-top: 25px;
 display: flex;
 justify-content: space-between;
 margin-bottom: 25px;
}
.logo {
 z-index: 1;
 display: flex;
 align-items: baseline;
}
.logo-img {
 height: 22px;
 width: 22px;
 background: url(/img/logo-img.png);
}
.logo-text {
 font-size: 30px;
 margin-left: 4px;
}
.menu {
 display: flex;
 font-size: 16px;
 align-items: baseline;
 float: right;
}
.menu-links {
 display: flex;
 font-family: raleway-r, sans-serif;
}
.menu-link {
 margin-left: 32px;
}
a {
 text-decoration: none;
 color: #393939;
}
a:hover {
 color: #C4730A;
}
.btn {
 color: #fff;
 background: #C4730A;
 padding: 10px 22px;
 border: 2px solid #C4730A;
}
.btn-menu {
 margin-left: 32px;
}
.btn:hover {
 color: #C4730A;
 background: #fff;
 border: 2px solid #C4730A;
}
.btn-menu:hover {
 background: transparent;
}
.main-block {
 z-index: 1;
 position: relative;
}
.main-block-title {
 margin-top: 145px;
 font-size: 56px;
 width: 570px;
 line-height: 70px;
 margin-bottom: 24px;
}
.main-block-subtitle {
 font-size: 20px;
 font-family: raleway-r, sans-serif;
 width: 560px;
 color: #612B00;
 margin-bottom: 24px;
}

/* @media (min-width: 576px) { 
 .main-bg-circle {
  display: none;
 }
 .main-bg-rectangle {
  display: none;
 }
 .main-block {
  text-align: center;
 }
 } */

@media (min-width: 768px) { 
 .main-bg-circle {
  display: none;
 }
 .main-bg-rectangle {
  display: none;
 }
 .main {
  background-position: 30% 45%;
 }
 }

@media (min-width: 992px) {  
 .main-block-title {
  font-size: 46px;
  line-height: 55px;
 }
 .main-block-subtitle {
  font-size: 18px;
  width: 500px;
 }
 .main-bg-circle {
  margin-left: -460px;
 }
 .main {
  background-position: 55% 45%;
 }
 .main-bg-circle {
  display: block;
 }
 .main-bg-rectangle {
  display: block;
 }
}

@media (min-width: 1200px) { 
 .main-block-title {
  font-size: 56px;
  line-height: 70px;
 }
 .main-block-subtitle {
  font-size: 20px;
  width: 560px;
 }
 .main {
  background-position: 30% 45%;
 }
 .main-bg-circle {
  margin-left: -330px;
 }
 }

@media (min-width: 1400px) { 
 .main {
  background-position: 50% 45%;
 }
 }