
@font-face {
 font-family: roboto-m;
 src: url(/fonts/Roboto-Medium.ttf);
}
@font-face {
 font-family: roboto-r;
 src: url(/fonts/Roboto-Regular.ttf);
}
@font-face {
 font-family: raleway-b;
 src: url(/fonts/Raleway-Bold.ttf);
}
@font-face {
 font-family: raleway-r;
 src: url(/fonts/Raleway-Regular.ttf);
}

body {
 box-sizing: border-box;
 font-family: raleway-b, sans-serif;
 color: #393939;
 background: #fff;
}

.main {
 background: url(/img/main-bg-drone.png) no-repeat;
 background-position: 10% 45%;
 padding-bottom: 240px;
 z-index: -5;
}

.main-bg-circle {
 width: 980px;
 height: 980px;
 background: #fff;
 border-radius: 50%;
 position: absolute;
 margin-top: -650px;
 margin-left: -330px;
 z-index: 0;
 box-shadow: 1.2px 0.08px 15.8px 0px rgba(158, 158, 158, 0.04), 5.2px 0.3px 32.7px 0px rgba(158, 158, 158, 0.06), 12.9px 0.9px 65.3px 0px rgba(158, 158, 158, 0.08), 24.9px 1.75px 128px 0px rgba(158, 158, 158, 0.10), 42px 2.9px 235.4px 0px rgba(158, 158, 158, 0.12), 64.8px 4.5px 402px 0px rgba(158, 158, 158, 0.16);
}
.main-bg-rectangle {
 background: #fff;
 width: 500px;
 height: 760px;
 position: absolute;
 margin-left: -500px;
 margin-top: -520px;
}
.header {
 z-index: 1;
 padding-top: 25px;
 display: flex;
 justify-content: space-between;
 margin-bottom: 25px;
}
.logo {
 z-index: 10;
 display: flex;
 align-items: baseline;
}
.logo-img {
 height: 22px;
 width: 22px;
 background: url(/img/logo-img.png);
}
.logo-text {
 font-size: 30px;
 margin-left: 4px;
}
.menu {
 display: flex;
 font-size: 16px;
 align-items: baseline;
 float: right;
}
.menu-links {
 display: flex;
 font-family: raleway-r, sans-serif;
}
.menu-link {
 margin-left: 32px;
}
a {
 text-decoration: none;
 color: #393939;
}
a:hover {
 color: #C4730A;
}
.btn {
 color: #fff;
 background: #C4730A;
 padding: 10px 22px;
 border: 2px solid #C4730A;
}
.btn-menu {
 margin-left: 32px;
}
.btn:hover {
 color: #C4730A;
 background: #fff;
 border: 2px solid #C4730A;
}
.btn-menu:hover {
 background: transparent;
}
.main-block {
 z-index: 1;
 position: relative;
}
.main-block-title {
 margin-top: 145px;
 font-size: 56px;
 width: 570px;
 line-height: 70px;
 margin-bottom: 24px;
}
.main-block-subtitle {
 font-size: 20px;
 font-family: raleway-r, sans-serif;
 width: 560px;
 color: #612B00;
 margin-bottom: 24px;
}

.menu-burger {
 height: 26px;
 width: 32px;
 top: 34px;
 margin-top: 9px;
 right: 32px;
 z-index: 2;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 z-index: 10;
}

.menu-burger-line {
 display: block;
 height: 4px;
 width: 100%;
 border-radius: 10px;
 background: #393939;
}

.line1 {
 transform-origin: 0% 0%;
 transition: transform 0.4s ease-in-out;
}

.line2 {
 transition: transform 0.2s ease-in-out;
}

.line3 {
 transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.checkbox {
 display: block;
 height: 32px;
 width: 32px;
 top: 31px;
 right: 0;
 margin-right: -180px;
 z-index: 5;
 opacity: 0%;
 cursor: pointer;
}

input[type="checkbox"]:checked ~ .menu-burger .line1 {
 transform: rotate(45deg);
}
input[type="checkbox"]:checked ~ .menu-burger .line2 {
 transform: scaleY(0);
}
input[type="checkbox"]:checked ~ .menu-burger .line3 {
 transform: rotate(-45deg);
}
input[type="checkbox"]:checked ~ .popup {
 transform: translateX(0);
}


.popup {
 height: 100vh;
 /* display: none; */
 position: absolute;
 background: #fff;
 padding-top: 120px;
 width: 100%;
 display: flex;
 box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
 transform: translate(-150%);
 flex-direction: column;
 /* margin-left: -115px; */
 left: 50%;
 margin-left: -50%;
 transition: transform 0.5s ease-in-out;
 text-align: center;
 z-index: 2;
 margin-top: -30px;
 font-family: raleway-r, sans-serif;
}
.popup .menu-link {
 margin-left: 0;
 margin-bottom: 32px;
}
.btn-popup {
 margin-top: 20px;
}

.companies {
  background: #fff;
  z-index: 0;
  position: relative;
  padding-bottom: 128px;
}
.companies-title {
  padding-top: 128px;
  font-size: 24px;
  text-align: center;
  padding-bottom: 48px;
}
.companies-row {
  display: flex;
  justify-content: space-around;
}
.companies-row-img {
  margin-top: 75px;
  margin-bottom: 75px;
}
.companies-row-img-remix {
  background: url(/img/companies/remix.png) no-repeat;
  height: 37px;
  width: 147px;
}
.companies-row-img-stencil {
  background: url(/img/companies/stencil.png) no-repeat;
  height: 38px;
  width: 185px;
}
.companies-row-img-mparticle {
  background: url(/img/companies/mparticle.png) no-repeat;
  height: 40px;
  width: 185px;
}
.companies-row-img-shippable {
  background: url(/img/companies/shippable.png) no-repeat;
  height: 43px;
  width: 185px;
}
.companies-row-img-atom {
  background: url(/img/companies/atom.png) no-repeat;
  height: 40px;
  width: 185px;
}
.companies-row-img-terraform {
  background: url(/img/companies/terraform.png) no-repeat;
  height: 45px;
  width: 185px;
}
.companies-row-img-rackspace {
  background: url(/img/companies/rackspace.png) no-repeat;
  height: 37px;
  width: 185px;
}
.banner {
  background: #F3F3F3;
}
.banner-ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #5E5E5E;
  font-size: 24px;
  padding: 24px 0;
  align-items: baseline;
}
.banner-circle {
  background: #5E5E5E;
  width: 12px;
  height: 12px;
  border-radius: 50%;

}

@media (min-width: 300px) {
 .main {
  padding-bottom: 125px;
  background-position: 30% 50%;
 }
 .main-bg-circle {
  display: none;
 }
 .main-bg-rectangle {
  display: none;
 }
 .main-block {
  text-align: center;
 }
 .menu-links {
  display: none;
 }
 .btn-menu {
  display: none;
 }
 .main-block-title {
  width: 280px;
  font-size: 27px;
  line-height: 40px;
  margin-left: -140px;
  position: relative;
  left: 50%;
  margin-top: 70px;
 }
 .main-block-subtitle {
  width: 275px;
  font-size: 16px;
  position: relative;
  margin-left: -140px;
  left: 50%;
 }
 .checkbox {
  width: 50px;
  top: 20px;
  position: absolute;
  height: 50px;
  margin-right: 10px;
 }
 .logo-img {
  height: 14px;
  width: 14px;
  background: url(/img/logo-img-small.png);
 }
 .logo-text {
  font-size: 18px;
 }
 .menu-burger {
  width: 18px;
  height: 14px;
 }
 .menu-burger-line {
  height: 2px;
 }
 .popup .menu-link {
  font-size: 16px;
 }
 .companies-row {
  flex-direction: column;
  align-items: center;
 }
 .companies-title {
  font-size: 16px;
  padding-top: 64px;
 }
 .companies-row-img {
  margin-top: 0;
 }
 .companies {
  padding-bottom: 0;
 }
 .banner {
  display: none;
 }
}

@media (min-width: 576px) { 
 .main {
  background-position: 12%;
  padding-bottom: 240px;
  background-position: 13% 50%;
 }
 .main-block-title {
  width: 515px;
  font-size: 46px;
  line-height: 55px;
  position: static;
  margin-left: 0;
  margin-top: 145px;
 }
 .main-block-subtitle {
  width: 515px;
  font-size: 18px;
  position: static;
  margin-left: 0;
 }
 .checkbox {
  margin-right: -180px;
  position: static;
 }
 .logo-img {
  height: 22px;
  width: 22px;
  background: url(/img/logo-img.png) no-repeat;
 }
 .logo-text {
  font-size: 30px;
 }
 .popup .menu-link {
  font-size: 18px;
 }
 .companies {
  padding-bottom: 0px;
 }
 .companies-title {
  font-size: 24px;
 }
 
 }

@media (min-width: 768px) { 
 .main-bg-circle {
  display: none;
 }
 .main-bg-rectangle {
  display: none;
 }
 .main {
  background-position: 30% 45%;
 }
 .main-block {
  text-align: left;
 }
 .menu-links {
  display: flex;
 }
 .btn-menu {
  display: block;
 }
 .menu-burger {
  display: none;
 }
 .checkbox {
  display: none;
 }
 .companies-row {
  flex-wrap: wrap;
  align-items: normal;
  flex-direction: row;
 }
 .companies-rows {
  justify-content: space-between;
 }
 .companies-title {
  padding-top: 128px;
 }
 .companies-row-img {
  margin-top: 70px;
 }
 .companies {
  padding-bottom: 80px;
 }
 .banner {
  display: flex;
 }
 .banner-ul {
  font-size: 18px;
 }
 .banner-circle {
  width: 9px;
  height: 9px;
 }
 }

@media (min-width: 992px) {  
 .main-block-title {
  font-size: 46px;
  line-height: 55px;
 }
 .main-block-subtitle {
  font-size: 18px;
  width: 500px;
 }
 .main-bg-circle {
  margin-left: -460px;
 }
 .main {
  background-position: 55% 45%;
 }
 .main-bg-circle {
  display: block;
 }
 .main-bg-rectangle {
  display: block;
 }
 .banner-ul {
  font-size: 24px;
 }
 .banner-circle {
  width: 12px;
  height: 12px;
 }
}

@media (min-width: 1200px) { 
 .main-block-title {
  font-size: 56px;
  line-height: 70px;
 }
 .main-block-subtitle {
  font-size: 20px;
  width: 560px;
 }
 .main {
  background-position: 30% 45%;
 }
 .main-bg-circle {
  margin-left: -330px;
 }
 }

@media (min-width: 1400px) { 
 .main {
  background-position: 50% 45%;
 }
 }